
<ul class="breadcrumb" ng-controller="laptopDetailCtrl">
    <li><a href="#!/">Trang chủ</a> <span class="divider">/</span></li>
    <li><a href="#!/laptops">Laptop</a> <span class="divider">/</span></li>
    <li class="active">{{laptopDet.name}}</li>
</ul>
<div class="row">
    <div id="gallery" class="span3">
        <a href="{{laptopDet.imgLarge}}" data-lightbox="{{laptopDet.name}}" data-title="{{laptopDet.name}}">
            <img ng-src="{{laptopDet.imgLarge}}" style="width:100%" alt="{{laptopDet.name}}"/>
        </a>
        <div id="differentview" class="moreOptopm carousel slide">
            <div class="carousel-inner" >
                <div class="item active">
                    <a href="{{laptopDet.imgDetail1}}" data-lightbox="{{laptopDet.name}}" data-title="{{laptopDet.name}}"> <img style="width:29%" ng-src="{{laptopDet.imgDetail1}}" alt="" /></a>
                    <a href="{{laptopDet.imgDetail2}}" data-lightbox="{{laptopDet.name}}" data-title="{{laptopDet.name}}"> <img style="width:29%" ng-src="{{laptopDet.imgDetail2}}" alt=""  /></a>
                    <a href="{{laptopDet.imgDetail3}}" data-lightbox="{{laptopDet.name}}" data-title="{{laptopDet.name}}"> <img style="width:29%" ng-src="{{laptopDet.imgDetail3}}" alt="" /></a>
                </div>
                <div class="item">
                    <a href="{{laptopDet.imgDetail1}}" data-lightbox="{{laptopDet.name}}"> <img style="width:29%" ng-src="{{laptopDet.imgDetail1}}" alt=""/></a>
                    <a href="{{laptopDet.imgDetail2}}" data-lightbox="{{laptopDet.name}}"> <img style="width:29%" src="{{laptopDet.imgDetail2}}" alt=""/></a>
                    <a href="{{laptopDet.imgDetail3}}" data-lightbox="{{laptopDet.name}}"> <img style="width:29%" ng-src="{{laptopDet.imgDetail3}}" alt=""/></a>
                </div>
            </div>
            <!--  -->
            <a class="left carousel-control" href="#differentview" data-slide="prev" target="_self">‹</a>
            <a class="right carousel-control" href="#differentview" data-slide="next" target="_self">›</a>

        </div>

        <div class="btn-toolbar">
            <div class="btn-group">
                <span class="btn"><i class="icon-envelope"></i></span>
                <span class="btn" ><i class="icon-print"></i></span>
                <span class="btn" ><i class="icon-zoom-in"></i></span>
                <span class="btn" ><i class="icon-star"></i></span>
                <span class="btn" ><i class=" icon-thumbs-up"></i></span>
                <span class="btn" ><i class="icon-thumbs-down"></i></span>
            </div>
        </div>
    </div>
    <div class="span6">
        <h3>{{laptopDet.name}}  </h3>
        <!-- <small>- (14MP, 18x Optical Zoom) 3-inch LCD</small> -->
        <hr class="soft"/>
        <form class="form-horizontal qtyFrm">
            <div class="control-group">
                <label class="control-label"><span>{{laptopDet.price}} VND</span></label>
                <div class="controls">
                    <span>Số lượng: </span><input type="number" class="span1" placeholder="1"/>
                    <button type="submit" class="btn btn-large btn-primary pull-right" ng-click="buy()"> Đặt mua <i class=" icon-shopping-cart"></i></button>
                </div>
            </div>
        </form>

        <hr class="soft"/>
        <form class="form-horizontal qtyFrm pull-right">
            <div class="control-group">
                <label class="control-label"><span>Màu sắc</span></label>
                <div class="controls">
                    <select class="span2">
                        <option>Đen</option>
                        <option>Đỏ</option>
                        <option>Xanh</option>
                    </select>
                </div>
            </div>
        </form>
        <hr class="soft clr"/>
        <p>{{laptopDet.intro}}</p>
        <br class="clr"/>
        <a href="#" name="detail"></a>
        <hr class="soft"/>
    </div>

    <div class="span9">
        <ul id="productDetail" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab" target="_self">Xem chi tiết</a></li>
            <li><a href="#profile" data-toggle="tab" target="_self">Sản phẩm tương tự</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <h4>Thông tin sản phẩm</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr class="techSpecRow"><th colspan="2">Thông số kỹ thuật</th></tr>
                    <tr class="techSpecRow"><td class="techSpecTD1">Bộ vi xử lý</td><td class="techSpecTD2">{{laptopDet.detail.cpu}}</td></tr>
                    <tr class="techSpecRow"><td class="techSpecTD1">Bộ nhớ RAM</td><td class="techSpecTD2">{{laptopDet.detail.ram}}</td></tr>
                    <tr class="techSpecRow"><td class="techSpecTD1">Đồ hoạ</td><td class="techSpecTD2"> {{laptopDet.detail.graphic}}</td></tr>
                    <tr class="techSpecRow"><td class="techSpecTD1">Ổ đĩa cứng</td><td class="techSpecTD2"> {{laptopDet.detail.storage}}</td></tr>
                    <tr class="techSpecRow"><td class="techSpecTD1">Màn hình </td><td class="techSpecTD2">{{laptopDet.detail.display}}</td></tr>
                    <tr class="techSpecRow"><td class="techSpecTD1">Hệ điều hành</td><td class="techSpecTD2">{{laptopDet.detail.os}}</td></tr>
                    <tr class="techSpecRow"><td class="techSpecTD1">Kết nối</td><td class="techSpecTD2">{{laptopDet.detail.connection}}</td></tr>
                    <tr class="techSpecRow"><td class="techSpecTD1">Dung lượng pin</td><td class="techSpecTD2">{{laptopDet.detail.battery}}</td></tr>
                    </tbody>
                </table>

                <h4>Đánh giá</h4>
                <h5>{{laptopDet.review.heading}} </h5>
                <p>{{laptopDet.review.intro}}</p>

                <h5>{{laptopDet.review.head1}}</h5>
                <center><img ng-src="{{laptopDet.review.head1img}}"></center>
                <p>{{laptopDet.review.head1con}}</p>
                <h5>{{laptopDet.review.head2}}</h5>
                <center><img ng-src="{{laptopDet.review.head2img}}"></center>
                <p>{{laptopDet.review.head2con}}</p>

                <h5>{{laptopDet.review.head3}}</h5>
                <center><img ng-src="{{laptopDet.review.head3img}}"></center>
                <p>{{laptopDet.review.head3con}}</p>

                <h5>{{laptopDet.review.head4}}</h5>
                <center><img ng-src="{{laptopDet.review.head4img}}"></center>
                <p>{{laptopDet.review.head4con}}</p>
            </div>

            <div class="tab-pane fade" id="profile">
                <div id="myTab" class="pull-right">
                    <a href="#listView" data-toggle="tab" target="_self"><span class="btn btn-large"><i class="icon-list"></i></span></a>
                    <a href="#blockView" data-toggle="tab" target="_self"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
                </div>
                <br class="clr"/>
                <hr class="soft"/>
                <div class="tab-content">
                    <div class="tab-pane" id="listView" ng-controller="laptopOverviewCtrl">
                        <div ng-repeat="laptop in laptopOver | limitTo:3">
                            <div class="row">
                                <div class="span2">
                                    <a href="#!/laptops/{{laptop.$id}}"><img ng-src="{{laptop.imageUrl}}" alt="{{laptop.name}}" /></a>
                                </div>
                                <div class="span4">
                                    <h3><a href="#!/laptops/{{laptop.$id}}">{{laptop.name}}</a></h3>
                                    <hr class="soft"/>
                                    <h5>Mới | Còn hàng</h5>
                                    <p>{{laptop.snipet}}</p>
                                    <a class="btn btn-small pull-right" href="#!/laptops/{{laptop.$id}}">Xem chi tiết</a>
                                    <br class="clr"/>
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> {{laptop.price}} VNĐ</h3>
                                        <!-- <label class="checkbox">
                                            <input type="checkbox">  Adds product to compair
                                        </label> --><br/>

                                        <a href="#!/order" class="btn btn-large btn-primary" ng-click="buy(laptop.$id)"> Đặt mua <i class=" icon-shopping-cart"></i></a>
                                        <a href="#!/laptops/{{laptop.$id}}" class="btn btn-large"><i class="icon-zoom-in"></i></a>

                                    </form>
                                </div>
                            </div>
                            <hr class="soft"/>
                        </div>
                    </div>

                    <div class="tab-pane active" id="blockView" ng-controller="laptopOverviewCtrl">
                        <ul class="thumbnails">
                            <li class="span3" ng-repeat="laptop in laptopOver | limitTo:3">
                                <div class="thumbnail">
                                    <a href="#!/laptops/{{laptop.$id}}" target="_self"><img ng-src="{{laptop.imageUrl}}" alt="{{laptop.name}}" /></a>
                                    <div class="caption">
                                        <h5><a href="#!/laptops/{{laptop.$id}}">{{laptop.name}}</a></h5>
                                        <!-- <p>{{laptop.snipet}}</p> -->
                                        <h4 style="text-align:center"><a class="btn" href="#!/laptops/{{laptop.$id}}" target="_self"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#!/order" ng-click="buy(laptop.$id)">Đặt mua <i class="icon-shopping-cart"></i></a><br> <a class="btn btn-primary" href="#!/laptops/{{laptop.$id}}">{{laptop.price}} VNĐ</a></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <hr class="soft"/>
                    </div>
                </div>
                <br class="clr">
            </div>
        </div>
    </div>

</div>