<ul class="breadcrumb">
    <li><a href="#!/">Trang chủ</a> <span class="divider">/</span></li>
    <li class="active">Điện thoại</li>
</ul>
<h3> Điện thoại <small class="pull-right" ng-controller="phoneOverviewCtrl">Có tổng cộng {{phoneOver.length}} sản phẩm</small></h3>
<hr class="soft"/>
<div ng-controller="phoneOverviewCtrl">
    <form class="form-horizontal span6" >
        <div class="control-group span2">
            <label class="control-label alignL">Sắp xếp theo </label>
            <select ng-model="Select" ng-init="Select = Select || 'name'">
              <option value="name">Tên sản phẩm A - Z</option>
              <option value="-name">Tên sản phẩm Z - A</option>
              <option value='price'>Giá tăng dần</option>
              <option value='-price'>Giá giảm dần</option>
            </select>
        </div>
        <div class="span1"></div>
        <div class="control-group span2">
            <label class="control-label alignL">Tìm kiếm </label>
            <input type="text" ng-model="searchBox2">
        </div>
    </form>

    <div id="myTab" class="pull-right">
     <a href="#listView" target="_self" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
     <a href="#blockView" target="_self" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
    </div>
    <br class="clr"/>
    <div class="tab-content">
        <div class="tab-pane" id="listView">
            <div ng-repeat="phone in phoneOver | orderBy:Select | filter:searchBox2">
                <div class="row" >  
                    <div class="span2">
                        <a href="#!/phones/{{phone.$id}}"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" /></a>
                    </div>
                    <div class="span4">
                        <h3><a href="#!/phones/{{phone.$id}}">{{phone.name}}</a></h3>
                        <hr class="soft"/>
                        <h5>Mới | Còn hàng</h5>
                        <p>{{phone.snipet}}</p>
                        <a class="btn btn-small pull-right" href="#!/phones/{{phone.$id}}">Xem chi tiết</a>
                        <br class="clr"/>
                    </div>
                    <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                    <h3> {{phone.price}} VNĐ</h3>
                    <!-- <label class="checkbox">
                        <input type="checkbox">  Adds product to compair
                    </label> --><br/>
                    
                      <a href="#!/order" class="btn btn-large btn-primary" ng-click="buy(phone.$id)"> Đặt mua <i class=" icon-shopping-cart"></i></a>
                      <a href="#!/phones/{{phone.$id}}" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                    
                        </form>
                    </div>
                </div>   
                <hr class="soft"/>
            </div>
        </div>
        <div class="tab-pane  active" id="blockView">
            <ul class="thumbnails">
                <li class="span3" ng-repeat="phone in phoneOver | orderBy:Select | filter:searchBox2">
                    <div class="thumbnail">
                    <a href="#!/phones/{{phone.$id}}" target="_self"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" /></a>
                    <div class="caption">
                      <h5><a href="#!/phones/{{phone.$id}}">{{phone.name}}</a></h5>
                      <!-- <p>{{phone.snipet}}</p> -->
                       <h4 style="text-align:center"><a class="btn" href="#!/phones/{{phone.$id}}" target="_self"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#!/order" ng-click="buy(phone.$id)">Đặt mua <i class="icon-shopping-cart"></i></a><br> <a class="btn btn-primary" href="#!/phones/{{phone.$id}}">{{phone.price}} VNĐ</a></h4>
                    </div>
                  </div>
                </li>
            </ul>
            <hr class="soft"/>
        </div>
    </div>
</div>