
<ul class="breadcrumb" ng-controller="phoneDetailCtrl">
<li><a href="#!/">Trang chủ</a> <span class="divider">/</span></li>
<li><a href="#!/phones">Điện thoại</a> <span class="divider">/</span></li>
<li class="active">{{phoneDet.name}}</li>
</ul>	
<div class="row">	  
	<div id="gallery" class="span3">
    	<a href="{{phoneDet.imgLarge}}" data-lightbox="{{phoneDet.name}}" data-title="{{phoneDet.name}}">
			<img ng-src="{{phoneDet.imgLarge}}" style="width:100%" alt="{{phoneDet.name}}"/>
        </a>
			<div id="differentview" class="moreOptopm carousel slide">
                <div class="carousel-inner" >
                  <div class="item active">
                   <a href="{{phoneDet.imgDetail1}}" data-lightbox="{{phoneDet.name}}" data-title="{{phoneDet.name}}"> <img style="width:29%" ng-src="{{phoneDet.imgDetail1}}" alt="" /></a>
                   <a href="{{phoneDet.imgDetail2}}" data-lightbox="{{phoneDet.name}}" data-title="{{phoneDet.name}}"> <img style="width:29%" ng-src="{{phoneDet.imgDetail2}}" alt=""  /></a>
                   <a href="{{phoneDet.imgDetail3}}" data-lightbox="{{phoneDet.name}}" data-title="{{phoneDet.name}}"> <img style="width:29%" ng-src="{{phoneDet.imgDetail3}}" alt="" /></a>
                  </div>
                  <div class="item">
                   <a href="{{phoneDet.imgDetail1}}" data-lightbox="{{phoneDet.name}}"> <img style="width:29%" ng-src="{{phoneDet.imgDetail1}}" alt=""/></a>
                   <a href="{{phoneDet.imgDetail2}}" data-lightbox="{{phoneDet.name}}"> <img style="width:29%" ng-src="{{phoneDet.imgDetail2}}" alt=""/></a>
                   <a href="{{phoneDet.imgDetail3}}" data-lightbox="{{phoneDet.name}}"> <img style="width:29%" ng-src="{{phoneDet.imgDetail3}}" alt=""/></a>
                  </div>
                </div>
               <!--  -->
			  <a class="left carousel-control" href="#differentview" data-slide="prev" target="_self">‹</a>
              <a class="right carousel-control" href="#differentview" data-slide="next" target="_self">›</a> 
			 
              </div>
			  
			 <div class="btn-toolbar">
			  <div class="btn-group">
				<span class="btn"><i class="icon-envelope"></i></span>
				<span class="btn" ><i class="icon-print"></i></span>
				<span class="btn" ><i class="icon-zoom-in"></i></span>
				<span class="btn" ><i class="icon-star"></i></span>
				<span class="btn" ><i class=" icon-thumbs-up"></i></span>
				<span class="btn" ><i class="icon-thumbs-down"></i></span>
			  </div>
			</div>
			</div>
			<div class="span6">
				<h3>{{phoneDet.name}}  </h3>
				<!-- <small>- (14MP, 18x Optical Zoom) 3-inch LCD</small> -->
				<hr class="soft"/>
				<form class="form-horizontal qtyFrm">
				  <div class="control-group">
					<label class="control-label"><span>{{phoneDet.price}} VND</span></label>
					<div class="controls">
					<span>Số lượng: </span><input type="number" class="span1" placeholder="1"/>
					  <button type="submit" class="btn btn-large btn-primary pull-right" ng-click="buy()"> Đặt mua <i class=" icon-shopping-cart"></i></button>
					</div>
				  </div>
				</form>
				
				<hr class="soft"/>
				<form class="form-horizontal qtyFrm pull-right">
				  <div class="control-group">
					<label class="control-label"><span>Màu sắc</span></label>
					<div class="controls">
					  <select class="span2">
						  <option>Đen</option>
						  <option>Đỏ</option>
						  <option>Xanh</option>
						</select>
					</div>
				  </div>
				</form>
				<hr class="soft clr"/>
				<p>{{phoneDet.intro}}</p>
				<br class="clr"/>
			<a href="#" name="detail"></a>
			<hr class="soft"/>
			</div>
			
			<div class="span9">
            <ul id="productDetail" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab" target="_self">Xem chi tiết</a></li>
              <li><a href="#profile" data-toggle="tab" target="_self">Sản phẩm tương tự</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="home">
			  <h4>Thông tin sản phẩm</h4>
                <table class="table table-bordered">
				<tbody>
				<tr class="techSpecRow"><th colspan="2">Thông số kỹ thuật</th></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Màn hình </td><td class="techSpecTD2">{{phoneDet.detail.display}}</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Hệ điều hành</td><td class="techSpecTD2">{{phoneDet.detail.os}}</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Camera sau</td><td class="techSpecTD2"> {{phoneDet.detail.behindCam}}</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Camera trước</td><td class="techSpecTD2"> {{phoneDet.detail.frontCam}}</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">CPU</td><td class="techSpecTD2">{{phoneDet.detail.cpu}}</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">RAM</td><td class="techSpecTD2">{{phoneDet.detail.ram}}</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Bộ nhớ trong</td><td class="techSpecTD2">{{phoneDet.detail.storage}}</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Hỗ trợ thẻ nhớ</td><td class="techSpecTD2">{{phoneDet.detail.flash}}</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Thẻ SIM</td><td class="techSpecTD2">{{phoneDet.detail.sim}}</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Kết nối</td><td class="techSpecTD2">{{phoneDet.detail.connection}}</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Dung lượng pin</td><td class="techSpecTD2">{{phoneDet.detail.battery}}</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Thiết kế</td><td class="techSpecTD2">{{phoneDet.detail.design}}</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Chức năng đặc biệt</td><td class="techSpecTD2">{{phoneDet.detail.specialFun}}</td></tr>
				</tbody>
				</table>

				<h4>Đánh giá</h4>
				<h5>{{phoneDet.review.heading}} </h5>
				<p>{{phoneDet.review.intro}}</p>

				<h5>{{phoneDet.review.head1}}</h5>
				<center><img ng-src="{{phoneDet.review.head1img}}"></center>
				<p>{{phoneDet.review.head1con}}</p>
				<h5>{{phoneDet.review.head2}}</h5>
				<center><img ng-src="{{phoneDet.review.head2img}}"></center>
				<p>{{phoneDet.review.head2con}}</p>

				<h5>{{phoneDet.review.head3}}</h5>
				<center><img ng-src="{{phoneDet.review.head3img}}"></center>
				<p>{{phoneDet.review.head3con}}</p>

				<h5>{{phoneDet.review.head4}}</h5>
				<center><img ng-src="{{phoneDet.review.head4img}}"></center>
				<p>{{phoneDet.review.head4con}}</p>
              </div>
		<div class="tab-pane fade" id="profile">
		<div id="myTab" class="pull-right">
		 <a href="#listView" data-toggle="tab" target="_self"><span class="btn btn-large"><i class="icon-list"></i></span></a>
		 <a href="#blockView" data-toggle="tab" target="_self"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
		</div>
		<br class="clr"/>
		<hr class="soft"/>
		<div class="tab-content">
			<div class="tab-pane" id="listView" ng-controller="phoneOverviewCtrl">
				<div ng-repeat="phone in phoneOver | limitTo:3">
					<div class="row">
						<div class="span2">
							<a href="#!/phones/{{phone.$id}}"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" /></a>
						</div>
						<div class="span4">
							<h3><a href="#!/phones/{{phone.$id}}">{{phone.name}}</a></h3>
							<hr class="soft"/>
							<h5>Mới | Còn hàng</h5>
							<p>{{phone.snipet}}</p>
							<a class="btn btn-small pull-right" href="#!/phones/{{phone.$id}}">Xem chi tiết</a>
							<br class="clr"/>
						</div>
						<div class="span3 alignR">
							<form class="form-horizontal qtyFrm">
								<h3> {{phone.price}} VNĐ</h3>
								<!-- <label class="checkbox">
									<input type="checkbox">  Adds product to compair
								</label> --><br/>

								<a href="#!/order" class="btn btn-large btn-primary" ng-click="buy(phone.$id)"> Đặt mua <i class=" icon-shopping-cart"></i></a>
								<a href="#!/phones/{{phone.$id}}" class="btn btn-large"><i class="icon-zoom-in"></i></a>

							</form>
						</div>
					</div>
					<hr class="soft"/>
				</div>
			</div>

			<div class="tab-pane active" id="blockView" ng-controller="phoneOverviewCtrl">
				<ul class="thumbnails">
					<li class="span3" ng-repeat="phone in phoneOver | limitTo:3">
						<div class="thumbnail">
							<a href="#!/phones/{{phone.$id}}" target="_self"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" /></a>
							<div class="caption">
								<h5><a href="#!/phones/{{phone.$id}}">{{phone.name}}</a></h5>
								<!-- <p>{{phone.snipet}}</p> -->
								<h4 style="text-align:center"><a class="btn" href="#!/phones/{{phone.$id}}" target="_self"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#!/order" ng-click="buy(phone.$id)">Đặt mua <i class="icon-shopping-cart"></i></a><br> <a class="btn btn-primary" href="#!/phones/{{phone.$id}}">{{phone.price}} VNĐ</a></h4>
							</div>
						</div>
					</li>
				</ul>
				<hr class="soft"/>
			</div>
		</div>
				<br class="clr">
					 </div>
		</div>
          </div>

	</div>