<ul class="breadcrumb">
	<li><a href="#!/">Trang chủ</a> <span class="divider">/</span></li>
	<li class="active">Liên hệ </li>
</ul>
<h3>Liên hệ</h3>
<hr class="soften"/>
<div class="row">
	<div class="span4">
	<h4>Thông tin chi tiết</h4>
	<p> 28 Nhật Tảo, phường 4, quận 10, TP HCM
		<br/><br/>
		Email: cuongthinhtuan2006@gmail.com<br/>
		﻿ĐT: 0975 187 293<br/>
		Websites: http://xuanloc.xyz
	</p>
	</div>

	<div class="span4">
	<h4>Giờ mở cửa</h4>
		<h5> Thứ 2 - Thứ 6</h5>
		<p>09:00 sáng - 09:00 tối<br/><br/></p>
		<h5>Thứ 7</h5>
		<p>09:00 sáng - 07:00 tối<br/><br/></p>
		<h5>Chủ nhật và các ngày lễ</h5>
		<p>Nghỉ không bán<br/><br/></p>
	</div>
	<!--<div class="span4">-->
	<!--<h4>Email Us</h4>-->
	<!--<form class="form-horizontal">-->
	<!--<fieldset>-->
	  <!--<div class="control-group">-->

		  <!--<input type="text" placeholder="name" class="input-xlarge"/>-->

	  <!--</div>-->
	   <!--<div class="control-group">-->

		  <!--<input type="text" placeholder="email" class="input-xlarge"/>-->

	  <!--</div>-->
	   <!--<div class="control-group">-->

		  <!--<input type="text" placeholder="subject" class="input-xlarge"/>-->

	  <!--</div>-->
	  <!--<div class="control-group">-->
		  <!--<textarea rows="3" id="textarea" class="input-xlarge"></textarea>-->

	  <!--</div>-->

		<!--<button class="btn btn-large" type="submit">Send Messages</button>-->

	<!--</fieldset>-->
  <!--</form>-->
	<!--</div>-->
</div>