<ul class="breadcrumb">
	<li><a href="#!/">Trang chủ</a> <span class="divider">/</span></li>
	<li class="active">Quên mật khẩu?</li>
</ul>
<h3> QUÊN MẬT KHẨU?</h3>
<hr class="soft"/>
<div class="well">
<h5>Đặt lại mật khẩu của bạn</h5><br/>
	Vui lòng nhập địa chỉ email cho tài khoản của bạn. Một mã xác minh sẽ được gửi đến bạn. Một khi bạn đã nhận được mã xác minh, bạn sẽ có thể chọn một mật khẩu mới cho tài khoản của bạn.<br/><br/><br/>
<form ng-controller="loginCtrl" name="resetForm" novalidate ng-submit='resetForm.$valid && reset()' role="form">
	<div id="loginalert" style="display:none" class="alert alert-danger">
		<p>Error:</p>
		<span></span>
	</div>
  <div class="form-group" ng-class="{'has-error': resetForm.resetEmail.$touched && resetForm.resetEmail.$invalid, 'has-success': resetForm.resetEmail.$touched && resetForm.resetEmail.$valid }">
	<label class="control-label" for="resetEmail">Địa chỉ E-mail</label>
	<div class="controls">
	  <input class="span3"  type="email" id="resetEmail" placeholder="Email" ng-model="resetEmail" name="resetEmail" required>
		<div ng-messages="resetForm.resetEmail.$dirty && resetForm.resetEmail.$error">
			<div ng-message='required'> Email không được để trống </div>
			<div ng-message='email'> Email không hợp lệ </div>
		</div>
	</div>
  </div>
  <div class="controls">
  <button type="submit" class="btn block">Gửi</button>
  </div>
</form>
</div>