<div class="well well-small">
	<h4>Điện thoại <small class="pull-right">{{phoneOver.length}} sản phẩm</small></h4>
	<div class="row-fluid">
		<div id="featured" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active">
					<ul class="thumbnails">
						<li class="span3" ng-repeat="phone in phoneOver | limitTo:4">
							<div class="thumbnail">
								<i class="tag"></i>
								<a href="#!/phones/{{phone.$id}}"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"></a>
								<div class="caption">
									<h5><a href="#!/phones/{{phone.$id}}">{{phone.name}}</a></h5>
									<h4 style="text-align:center"><a class="btn btn-primary" href="#!/phones/{{phone.$id}}">{{phone.price}} VNĐ</a><a class="btn" href="#!/phones/{{phone.$id}}">XEM</a></h4>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="item">
					<ul class="thumbnails">
						<li class="span3" ng-repeat="phone in phoneOver.slice(4, 10)">
							<div class="thumbnail">
								<!-- <i class="tag"></i> -->
								<a href="#!/phones/{{phone.$id}}"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"></a>
								<div class="caption">
									<h5><a href="#!/phones/{{phone.$id}}">{{phone.name}}</a></h5>
									<h4 style="text-align:center"><a class="btn btn-primary" href="#">{{phone.price}} VNĐ</a><a class="btn" href="#!/phones/{{phone.$id}}">XEM</a></h4>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- <div class="item">
					<ul class="thumbnails">
						<li class="span3">
							<div class="thumbnail">
								<a href="product_details.html"><img src="themes/images/products/1.jpg" alt=""></a>
								<div class="caption">
									<h5>Product name</h5>
									<h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="item">
					<ul class="thumbnails">
						<li class="span3">
							<div class="thumbnail">
								<a href="product_details.html"><img src="themes/images/products/2.jpg" alt=""></a>
								<div class="caption">
									<h5>Product name</h5>
									<h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div> -->
			</div>
			<a class="left carousel-control" href="#featured" data-slide="prev" target="_self">‹</a>
			<a class="right carousel-control" href="#featured" data-slide="next" target="_self">›</a>
		</div>
	</div>
</div>


<div class="well well-small">
	<h4>Laptop <small class="pull-right">{{laptopOver.length}} sản phẩm</small></h4>
	<div class="row-fluid">
		<div id="featured2" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active">
					<ul class="thumbnails">
						<li class="span3" ng-repeat="laptop in laptopOver | limitTo:4">
							<div class="thumbnail">
								<i class="tag"></i>
								<a href="#!/laptops/{{laptop.$id}}"><img ng-src="{{laptop.imageUrl}}" alt="{{laptop.name}}"></a>
								<div class="caption">
									<h5><a href="#!laptops/{{laptop.$id}}">{{laptop.name}}</a></h5>
									<h4 style="text-align:center"><a class="btn btn-primary" href="#!laptops/{{laptop.$id}}">{{laptop.price}} VNĐ</a><a class="btn" href="#!/laptops/{{laptop.$id}}">XEM</a></h4>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="item">
					<ul class="thumbnails">
						<li class="span3" ng-repeat="laptop in laptopOver.slice(4, 10)">
							<div class="thumbnail">
								<!-- <i class="tag"></i> -->
								<a href="#!/laptops/{{laptop.$id}}"><img ng-src="{{laptop.imageUrl}}" alt="{{laptop.name}}"></a>
								<div class="caption">
									<h5><a href="#!/laptops/{{laptop.$id}}">{{laptop.name}}</a></h5>
									<h4 style="text-align:center"><a class="btn btn-primary" href="#">{{laptop.price}} VNĐ</a><a class="btn" href="#!/laptops/{{laptop.$id}}">XEM</a></h4>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- <div class="item">
					<ul class="thumbnails">
						<li class="span3">
							<div class="thumbnail">
								<a href="product_details.html"><img src="themes/images/products/1.jpg" alt=""></a>
								<div class="caption">
									<h5>Product name</h5>
									<h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="item">
					<ul class="thumbnails">
						<li class="span3">
							<div class="thumbnail">
								<a href="product_details.html"><img src="themes/images/products/2.jpg" alt=""></a>
								<div class="caption">
									<h5>Product name</h5>
									<h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
								</div>
							</div>
						</li>
					</ul>
				</div>-->
			</div>
			<a class="left carousel-control" href="#featured2" data-slide="prev" target="_self">‹</a>
			<a class="right carousel-control" href="#featured2" data-slide="next" target="_self">›</a>
		</div>
	</div>
</div>