<ul class="breadcrumb">
	<li><a href="#!/">Trang chủ</a> <span class="divider">/</span></li>
	<li class="active">Đăng nhập</li>
</ul>
<h3> Đăng nhập</h3>	
<hr class="soft"/>

<div class="row">
	<div class="span4">
		<div class="well">
		<h5>ĐĂNG KÝ TÀI KHOẢN</h5><br/>
		Nhập Email của bạn để tạo tài khoản.<br/><br/><br/>
		<form ng-controller="loginCtrl" name="singupForm" novalidate ng-submit='singupForm.$valid && singup()' role="form">
			<div id="signupalert" style="display:none" class="alert alert-danger">
				<p>Error:</p>
				<span></span>
			</div>
			<div class="form-group" ng-class="{'has-error': singupForm.sinupEmail.$touched && singupForm.sinupEmail.$invalid, 'has-success': singupForm.sinupEmail.$touched && singupForm.sinupEmail.$valid }">
				<label class="control-label" for="sinupEmail">Email</label>
				<div class="controls">
					<input class="span3 form-control" type="email" id="sinupEmail" placeholder="Email" ng-model="sinupEmail" name="sinupEmail" required>
					<div ng-messages="singupForm.sinupEmail.$dirty && singupForm.sinupEmail.$error">
						<div ng-message='required'> Email không được để trống </div>
						<div ng-message='email'> Email không hợp lệ </div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error': singupForm.sinupPassword.$touched && singupForm.sinupPassword.$invalid, 'has-success': singupForm.sinupPassword.$touched && singupForm.sinupPassword.$valid }">
				<label class="control-label" for="sinupPassword">Mật khẩu</label>
				<div class="controls">
					<input type="password" class="span3 form-control" required  id="sinupPassword" placeholder="Mật khẩu" ng-model="sinupPassword" name="sinupPassword">
					<div ng-messages="singupForm.sinupPassword.$dirty && singupForm.sinupPassword.$error">
						<div ng-message='required'> Mật khẩu không được để trống </div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="controls">
					<button type="submit" class="btn" >Đăng ký</button>
				</div>
			</div>
		</form>
	</div>
	</div>
	<div class="span1"> &nbsp;</div>
	<div class="span4">
		<div class="well">
		<h5>ĐĂNG NHẬP</h5>
		<form ng-controller="loginCtrl" name="loginForm" novalidate ng-submit='loginForm.$valid && login()' role="form">
			<div id="loginalert" style="display:none" class="alert alert-danger">
				<p>Error:</p>
				<span></span>
			</div>
		  <div class="form-group" ng-class="{'has-error': loginForm.inputEmail.$touched && loginForm.inputEmail.$invalid, 'has-success': loginForm.inputEmail.$touched && loginForm.inputEmail.$valid }">
			<label class="control-label" for="inputEmail">Email</label>
			<div class="controls">
			  <input class="span3 form-control" type="email" id="inputEmail" placeholder="Email" ng-model="loginEmail" name="inputEmail" required>
				<div ng-messages="loginForm.inputEmail.$dirty && loginForm.inputEmail.$error">
					<div ng-message='required'> Email không được để trống </div>
					<div ng-message='email'> Email không hợp lệ </div>
				</div>
			</div>
		  </div>
		  <div class="form-group" ng-class="{'has-error': loginForm.inputPassword.$touched && loginForm.inputPassword.$invalid, 'has-success': loginForm.inputPassword.$touched && loginForm.inputPassword.$valid }">
			<label class="control-label" for="inputPassword">Mật khẩu</label>
			<div class="controls">
			  <input type="password" class="span3 form-control" required  id="inputPassword" placeholder="Mật khẩu" ng-model="loginPassword" name="inputPassword">
				<div ng-messages="loginForm.inputPassword.$dirty && loginForm.inputPassword.$error">
					<div ng-message='required'> Mật khẩu không được để trống </div>
				</div>
			</div>
		  </div>
		  <div class="form-group">
			<div class="controls">
			  <button type="submit" class="btn" >Đăng nhập</button> <a href="#!/resetpass">Quên mật khẩu?</a>
			</div>
		  </div>
		</form>
	</div>
	<div class="well">
		<h5>Đăng nhập với OAuth</h5>
		<button class="btn btn-success"  ng-click="OAuth()">Google</button>
	</div>
	</div>
</div>	