<ul class="breadcrumb">
    <li><a href="#!">Trang chủ</a> <span class="divider">/</span></li>
    <li class="active">Đơn đặt hàng </li>
</ul>
<h3> Đơn đặt hàng </h3>
<div class="well">
    <form class="form-horizontal" >
        <h4>Thông tin đặt hàng</h4>
        <div class="control-group">
            <label class="control-label">Tên sản phẩm</label>
            <div class="controls">
                <label class="control-label"><strong>{{cusProductName}}</strong></label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Hoá đơn</label>
            <div class="controls">
                <label class="control-label"><strong>{{cusProductPrice}}</strong></label>
            </div>
        </div>
        <hr class="soft" />
        <div class="alert alert-block alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Dấu (*) </strong> là các thông tin bắt buộc phải có và chính xác tuyệt đối.
        </div>

        <h4>Thông tin khách hàng</h4>
        <div class="control-group">
            <label class="control-label" for="customerName">Họ và tên <sup>*</sup></label>
            <div class="controls">
                <input type="text" id="customerName">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="customerAddress">Địa chỉ <sup>*</sup></label>
            <div class="controls">
                <input type="text" id="customerAddress"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="customerMobile">Điện thoại <sup>*</sup></label>
            <div class="controls">
                <input type="text"  name="customerMobile" id="customerMobile"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="customerEmail">Email <sup>*</sup></label>
            <div class="controls">
                <input type="text" id="customerEmail" name="customerEmail">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Ngày sinh </label>
            <div class="controls">
                <select class="span1" name="days" id="customerDay">
                    <option value="">Ngày</option>
                    <option value="1">1&nbsp;&nbsp;</option>
                    <option value="2">2&nbsp;&nbsp;</option>
                    <option value="3">3&nbsp;&nbsp;</option>
                    <option value="4">4&nbsp;&nbsp;</option>
                    <option value="5">5&nbsp;&nbsp;</option>
                    <option value="6">6&nbsp;&nbsp;</option>
                    <option value="7">7&nbsp;&nbsp;</option>
                    <option value="8">8&nbsp;&nbsp;</option>
                    <option value="9">9&nbsp;&nbsp;</option>
                    <option value="10">10&nbsp;&nbsp;</option>
                    <option value="11">11&nbsp;&nbsp;</option>
                    <option value="12">12&nbsp;&nbsp;</option>
                    <option value="13">13&nbsp;&nbsp;</option>
                    <option value="14">14&nbsp;&nbsp;</option>
                    <option value="15">15&nbsp;&nbsp;</option>
                    <option value="16">16&nbsp;&nbsp;</option>
                    <option value="17">17&nbsp;&nbsp;</option>
                    <option value="18">18&nbsp;&nbsp;</option>
                    <option value="19">19&nbsp;&nbsp;</option>
                    <option value="20">20&nbsp;&nbsp;</option>
                    <option value="21">21&nbsp;&nbsp;</option>
                    <option value="22">22&nbsp;&nbsp;</option>
                    <option value="23">23&nbsp;&nbsp;</option>
                    <option value="24">24&nbsp;&nbsp;</option>
                    <option value="25">25&nbsp;&nbsp;</option>
                    <option value="26">26&nbsp;&nbsp;</option>
                    <option value="27">27&nbsp;&nbsp;</option>
                    <option value="28">28&nbsp;&nbsp;</option>
                    <option value="29">29&nbsp;&nbsp;</option>
                    <option value="30">30&nbsp;&nbsp;</option>
                    <option value="30">31&nbsp;&nbsp;</option>
                </select>
                <select class="span1" name="month" id="customerMonth">
                    <option value="">Tháng</option>
                    <option value="1">1&nbsp;&nbsp;</option>
                    <option value="2">2&nbsp;&nbsp;</option>
                    <option value="3">3&nbsp;&nbsp;</option>
                    <option value="4">4&nbsp;&nbsp;</option>
                    <option value="5">5&nbsp;&nbsp;</option>
                    <option value="6">6&nbsp;&nbsp;</option>
                    <option value="7">7&nbsp;&nbsp;</option>
                    <option value="8">8&nbsp;&nbsp;</option>
                    <option value="9">9&nbsp;&nbsp;</option>
                    <option value="10">10&nbsp;&nbsp;</option>
                    <option value="11">11&nbsp;&nbsp;</option>
                    <option value="12">12&nbsp;&nbsp;</option>
                </select>
                <input type="text" class="span1" placeholder="Năm" id="customerYear">
            </div>
        </div>

        <h4>Thông tin thêm</h4>
        <div class="control-group">
            <label class="control-label">Giới tính </label>
            <div class="controls">
                <select class="span1" name="sex" id="customerSex">
                    <option value="---">---</option>
                    <option value="Nam">Nam&nbsp;&nbsp;</option>
                    <option value="Nữ">Nữ&nbsp;&nbsp;</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="customerJob">Nghề nghiệp</label>
            <div class="controls">
                <input type="text" id="customerJob" name="customerJob"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="customerCompany">Công ty</label>
            <div class="controls">
                <input type="text" id="customerCompany"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="customerInterest">Sở thích</label>
            <div class="controls">
                <textarea name="customerInterest" id="customerInterest" cols="26" rows="3"></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input class="btn btn-large btn-success" type="submit" value="Xác nhận" ng-click="addInfo()" />
            </div>
        </div>
    </form>
</div>