<div id="myTab" class="pull-right">
    <a href="#listView" target="_self" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
    <a href="#blockView" target="_self" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
</div>
<h3>Điện thoại</h3>
<hr class="soft" />
<div class="tab-content" ng-controller="phoneOverviewCtrl">
    <div class="tab-pane" id="listView">
        <div ng-repeat="phone in phoneOver | filter:searchText">
            <div class="row" >
                <div class="span2">
                    <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
                </div>
                <div class="span4">
                    <h3><a href="#!/phones/{{phone.$id}}">{{phone.name}}</a></h3>
                    <hr class="soft"/>
                    <h5>Mới | Còn hàng</h5>
                    <p>{{phone.snipet}}</p>
                    <a class="btn btn-small pull-right" href="#!/phones/{{phone.$id}}">Xem chi tiết</a>
                    <br class="clr"/>
                </div>
                <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> {{phone.price}} VNĐ</h3>
                        <!-- <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label> --><br/>

                        <a href="#!/order" ng-click="buy(laptop.$id)" class="btn btn-large btn-primary"> Đặt mua <i class=" icon-shopping-cart"></i></a>
                        <a href="#!/phones/{{phone.$id}}" class="btn btn-large"><i class="icon-zoom-in"></i></a>

                    </form>
                </div>
            </div>
            <hr class="soft"/>
        </div>
    </div>
    <div class="tab-pane  active" id="blockView">
        <ul class="thumbnails">
            <li class="span3" ng-repeat="phone in phoneOver | filter:searchText">
                <div class="thumbnail">
                    <a href="#!/phones/{{phone.$id}}" target="_self"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" /></a>
                    <div class="caption">
                        <h5><a href="#!/phones/{{phone.$id}}">{{phone.name}}</a></h5>
                        <!-- <p>{{phone.snipet}}</p> -->
                        <h4 style="text-align:center"><a class="btn" href="#!/phones/{{phone.$id}}" target="_self"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#!/order" ng-click="buy(phone.$id)">Đặt mua <i class="icon-shopping-cart"></i></a><br> <a class="btn btn-primary" href="#!/phones/{{phone.$id}}">{{phone.price}} VNĐ</a></h4>
                    </div>
                </div>
            </li>
        </ul>
        <hr class="soft"/>
    </div>
</div>

<div id="myTab2" class="pull-right">
    <a href="#listView2" target="_self" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
    <a href="#blockView2" target="_self" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
</div>
<h3>Laptop</h3>
<hr class="soft" />
<div class="tab-content" ng-controller="laptopOverviewCtrl">
    <div class="tab-pane" id="listView2">
        <div ng-repeat="laptop in laptopOver | filter:searchText">
            <div class="row" >
                <div class="span2">
                    <img ng-src="{{laptop.imageUrl}}" alt="{{laptop.name}}" />
                </div>
                <div class="span4">
                    <h3><a href="#!/laptops/{{laptop.$id}}">{{laptop.name}}</a></h3>
                    <hr class="soft"/>
                    <h5>Mới | Còn hàng</h5>
                    <p>{{laptop.snipet}}</p>
                    <a class="btn btn-small pull-right" href="#!/laptops/{{laptop.$id}}">Xem chi tiết</a>
                    <br class="clr"/>
                </div>
                <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> {{laptop.price}} VNĐ</h3>
                        <!-- <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label> --><br/>

                        <a href="#!/order" ng-click="buy(laptop.$id)" class="btn btn-large btn-primary"> Đặt mua <i class=" icon-shopping-cart"></i></a>
                        <a href="#!/laptops/{{laptop.$id}}" class="btn btn-large"><i class="icon-zoom-in"></i></a>

                    </form>
                </div>
            </div>
            <hr class="soft"/>
        </div>
    </div>
    <div class="tab-pane  active" id="blockView2">
        <ul class="thumbnails">
            <li class="span3" ng-repeat="laptop in laptopOver | filter:searchText">
                <div class="thumbnail">
                    <a href="#!/laptops/{{laptop.$id}}" target="_self"><img ng-src="{{laptop.imageUrl}}" alt="{{laptop.name}}" /></a>
                    <div class="caption">
                        <h5><a href="#!/laptops/{{laptop.$id}}">{{laptop.name}}</a></h5>
                        <!-- <p>{{laptop.snipet}}</p> -->
                        <h4 style="text-align:center"><a class="btn" href="#!/laptops/{{laptop.$id}}" target="_self"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#!/order" ng-click="buy(laptop.$id)">Đặt mua <i class="icon-shopping-cart"></i></a><br> <a class="btn btn-primary" href="#!/laptops/{{laptop.$id}}">{{laptop.price}} VNĐ</a></h4>
                    </div>
                </div>
            </li>
        </ul>
        <hr class="soft"/>
    </div>
</div>