<ul class="breadcrumb">
    <li><a href="#!/">Trang chủ</a> <span class="divider">/</span></li>
    <li class="active">Giao hàng</li>
</ul>
<h3> Phương thức thanh toán</h3>
<hr class="soft"/>
<h5>Sản phẩm sẽ được gửi tới tận nhà</h5><br/>
<p>
    Các sản phẩm bạn đặt hàng sẽ được công ty chúng tôi đóng gói và chuyển phát qua đường bưu điện. Chúng tôi cam kết sản phẩm sẽ giống y như hình trên website.
</p>
<h5>Miễn phí cước vận chuyển cho các đơn hàng trên 3.000.000 VNĐ</h5><br/>
<p>
    Dành cho những khách hàng mua với số lượng nhiều chúng tôi tạo điều kiện thuận lợi nhất là sẽ miễn phí cước vận chuyển cho các đơn hàng trên 3.000.000 VNĐ và tất nhiên chúng tôi sẽ dùng chuyển phát nhanh cho đơn hàng của bạn.
</p>
<h5>Bao đổi trả nếu như không đảm bảo chất lượng</h5><br/>
<p>
    Công ty chúng tôi lấy uy tín làm tiêu chí hàng đầu nên khách hàng yên tâm nếu như hàng bị lỗi hoặc không đảm bảo chất lượng.
</p>
<h5>Lấy đánh giá của khách hàng làm cơ sở để phát triển</h5><br/>
<p>
    Đối với mỗi đơn hàng rất mong khách hàng có thể phản hồi lại chất lượng sản phẩn cũng như phục vụ. Công ty chúng tôi xin chân thành cảm ơn.
</p>
