<ul class="breadcrumb">
    <li><a href="#!/">Trang chủ</a> <span class="divider">/</span></li>
    <li class="active">Admin</li>
</ul>
<a href="#!/logout" class="btn btn-large btn-default pull-right"> Đăng xuất</a>
<h1> Quản lý Sản phẩm</h1>
<hr class="soft"/>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <h4><a class="accordion-toggle collapsed span6" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" target="_self">
                Danh sách Điện Thoại
                </a>&nbsp;&nbsp;
                <button class="btn btn-success" ng-click="addPhone()">Thêm</button>
            </h4>
        </div>
        <div id="collapseOne" class="accordion-body collapse"  >
            <div class="accordion-inner">
                <table>
                    <tr ng-repeat="phone in phoneOver">
                        <td class="span6"><h4>{{phone.name}}</h4><hr class="soft"/></td>
                        <td>&nbsp;&nbsp;<a class="btn btn-primary" href="#!/admin/editphone/{{phone.$id}}">Chỉnh sửa</a>&nbsp;&nbsp;<hr class="soft"/></td>
                        <td><button class="btn btn-danger" ng-click="phoneOver.$remove(phone)">Xoá</button><hr class="soft"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <h4><a class="accordion-toggle collapsed span6" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" target="_self">
                Danh sách Laptop
            </a>&nbsp;&nbsp;
                <button class="btn btn-success" ng-click="addLaptop()">Thêm</button>
            </h4>
        </div>
        <div id="collapseTwo" class="accordion-body collapse"  >
            <div class="accordion-inner">
                <table>
                    <tr ng-repeat="laptop in laptopOver">
                        <td class="span6"><h4>{{laptop.name}}</h4><hr class="soft"/></td>
                        <td>&nbsp;&nbsp;<a class="btn btn-primary" href="#!/admin/editlaptop/{{laptop.$id}}">Chỉnh sửa</a>&nbsp;&nbsp;<hr class="soft"/></td>
                        <td><button class="btn btn-danger" ng-click="laptopOver.$remove(laptop)">Xoá</button><hr class="soft"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>