<ul class="breadcrumb" ng-controller="laptopDetailCtrl">
    <li><a href="#!">Trang chủ</a> <span class="divider">/</span></li>
    <li><a href="#!/admin">Quản lý</a> <span class="divider">/</span></li>
    <li class="active">Chỉnh sửa thông tin {{laptopDet.name}}</li>
</ul>
<h1> Thông tin Laptop</h1>
<hr class="soft"/>
<form>
    <fieldset>
        <div class="accordion-group span6">
            <div class="accordion-heading alert alert-error">
                <h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" target="_self">
                    Thông tin cơ bản
                </a>
                </h4>
            </div>
            <div id="collapseOne" class="accordion-body collapse"  >
                <div class="accordion-inner span6">
                    <table>
                        <tr>
                            <label for="inputName" class="control-label">Tên laptop</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputName" ng-model="laptopDet.name" placeholder="{{laptopDet.name}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputIntro" class="control-label">Giới thiệu</label>
                            <div class="controls">
                                <textarea type="text" class="input-xlarge" id="inputIntro" ng-model="laptopDet.intro" placeholder="{{laptopDet.intro}}" rows="3" style="width: 400px"></textarea>
                            </div>
                        </tr>
                        <tr>
                            <label for="inputPrice" class="control-label">Giá </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputPrice" ng-model="laptopDet.price" placeholder="{{laptopDet.price}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputImageURL" class="control-label">URL hình ảnh </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputImageURL" ng-model="laptopDet.imageUrl" placeholder="{{laptopDet.imageUrl}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputSnipet" class="control-label">Snipet </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputSnipet" ng-model="laptopDet.snipet" placeholder="{{laptopDet.snipet}}">
                            </div>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="accordion-group span6">
            <div class="accordion-heading alert alert-info">
                <h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" target="_self">
                    Thông tin chi tiết
                </a>
                </h4>
            </div>
            <div id="collapseTwo" class="accordion-body collapse"  >
                <div class="accordion-inner span6">
                    <table>
                        <tr>
                            <label for="inputImgLarge" class="control-label">Hình ảnh lớn [800x600] </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputImgLarge" ng-model="laptopDet.imgLarge" placeholder="{{laptopDet.imgLarge}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputImgDetail1" class="control-label">Hình ảnh chi tiết 1 [400x400] </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputImgDetail1" ng-model="laptopDet.imgDetail1" placeholder="{{laptopDet.imgDetail1}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputImgDetail2" class="control-label">Hình ảnh chi tiết 2 [400x400] </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputImgDetail2" ng-model="laptopDet.imgDetail2" placeholder="{{laptopDet.imgDetail2}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputImgDetail3" class="control-label">Hình ảnh chi tiết 3 [400x400] </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputImgDetail3" ng-model="laptopDet.imgDetail3" placeholder="{{laptopDet.imgDetail3}}">
                            </div>
                            <hr class="soft"/>
                        </tr>
                        <tr>
                            <label for="inputCPU" class="control-label">Bộ vi xử lý </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputCPU" ng-model="laptopDet.detail.cpu" placeholder="{{laptopDet.detail.cpu}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputDisplay" class="control-label">Màn hình </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputDisplay" ng-model="laptopDet.detail.display" placeholder="{{laptopDet.detail.display}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputOS" class="control-label">Hệ điều hành </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputOS" ng-model="laptopDet.detail.os" placeholder="{{laptopDet.detail.os}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputGraphic" class="control-label">Đồ hoạ </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputGraphic" ng-model="laptopDet.detail.graphic" placeholder="{{laptopDet.detail.graphic}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputRAM" class="control-label">Bộ nhớ RAM </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputRAM" ng-model="laptopDet.detail.ram" placeholder="{{laptopDet.detail.ram}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputHDD" class="control-label">Ổ đĩa cứng </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHDD" ng-model="laptopDet.detail.storage" placeholder="{{laptopDet.detail.storage}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputConnect" class="control-label">Kết nối </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputConnect" ng-model="laptopDet.detail.connection" placeholder="{{laptopDet.detail.connection}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputPIN" class="control-label">PIN </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputPIN" ng-model="laptopDet.detail.battery" placeholder="{{laptopDet.detail.battery}}">
                            </div>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="accordion-group span6">
            <div class="accordion-heading alert alert-warning">
                <h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" target="_self">
                    Đánh giá
                </a>
                </h4>
            </div>
            <div id="collapseThree" class="accordion-body collapse"  >
                <div class="accordion-inner span6">
                    <table>
                        <tr>
                            <label for="inputIntroReview" class="control-label">Tiêu đề đánh giá </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputIntroReview" ng-model="laptopDet.review.intro" placeholder="{{laptopDet.review.intro}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputURLIntroReview" class="control-label"> URL hình ảnh đánh giá </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputURLIntroReview" ng-model="laptopDet.review.imgIntro" placeholder="{{laptopDet.review.imgIntro}}">
                                <hr class="soft"/>
                            </div>
                        </tr>

                        <tr>
                            <label for="inputHead1" class="control-label">Tiêu đề đoạn 1 </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHead1" ng-model="laptopDet.review.head1" placeholder="{{laptopDet.review.head1}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputHead1Con" class="control-label">Nội dung đoạn 1 </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHead1Con" ng-model="laptopDet.review.head1con" placeholder="{{laptopDet.review.head1con}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputHead1Img" class="control-label">Hình ảnh đoạn 1 </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHead1Img" ng-model="laptopDet.review.head1img" placeholder="{{laptopDet.review.head1img}}">
                            </div>
                            <hr class="soft"/>
                        </tr>

                        <tr>
                            <label for="inputHead2" class="control-label">Tiêu đề đoạn 2 </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHead2" ng-model="laptopDet.review.head2" placeholder="{{laptopDet.review.head2}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputHead2Con" class="control-label">Nội dung đoạn 2 </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHead2Con" ng-model="laptopDet.review.head2con" placeholder="{{laptopDet.review.head2con}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputHead2Img" class="control-label">Hình ảnh đoạn 2 </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHead2Img" ng-model="laptopDet.review.head2img" placeholder="{{laptopDet.review.head2img}}">
                            </div>
                            <hr class="soft"/>
                        </tr>

                        <tr>
                            <label for="inputHead3" class="control-label">Tiêu đề đoạn 3 </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHead3" ng-model="laptopDet.review.head3" placeholder="{{laptopDet.review.head3}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputHead3Con" class="control-label">Nội dung đoạn 3 </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHead3Con" ng-model="laptopDet.review.head3con" placeholder="{{laptopDet.review.head3con}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputHead3Img" class="control-label">Hình ảnh đoạn 3 </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHead3Img" ng-model="laptopDet.review.head3img" placeholder="{{laptopDet.review.head3img}}">
                            </div>
                            <hr class="soft"/>
                        </tr>

                        <tr>
                            <label for="inputHead4" class="control-label">Tiêu đề đoạn 4 </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHead4" ng-model="laptopDet.review.head4" placeholder="{{laptopDet.review.head4}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputHead4Con" class="control-label">Nội dung đoạn 4 </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHead4Con" ng-model="laptopDet.review.head4con" placeholder="{{laptopDet.review.head4con}}">
                            </div>
                        </tr>
                        <tr>
                            <label for="inputHead4Img" class="control-label">Hình ảnh đoạn 4 </label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="inputHead4Img" ng-model="laptopDet.review.head4img" placeholder="{{laptopDet.review.head4img}}">
                            </div>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-actions span6">
        <button type="submit" class="btn btn-primary" ng-click="saveInfo()">Lưu</button>
        <a class="btn" href="#!/admin">Huỷ</a>
    </div>
</form>