<ul class="breadcrumb">
    <li><a href="#!/">Trang chủ</a> <span class="divider">/</span></li>
    <li><a href="#!/admin">Quản lý</a> <span class="divider">/</span></li>
    <li class="active">Quản lý đơn đặt hàng</li>
</ul>
<a href="#!/logout" class="btn btn-large btn-default pull-right"> Đăng xuất</a>
<h1> Quản lý đơn đặt hàng</h1>
<hr class="soft"/>
<div class="accordion span6" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <h4><a class="accordion-toggle collapsed span6" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" target="_self">
                Danh sách đơn đặt hàng
            </a>&nbsp;
            </h4>
        </div>
        <div id="collapseOne" class="accordion-body collapse"  >
            <div class="accordion-inner">
                <table>
                    <tr ng-repeat="cus in customerOver">
                        <td class="span4"><h4>{{cus.name}}</h4><hr class="soft"/></td>
                        <td class="span2"> <h5>{{cus.dateOrder}}</h5><hr class="soft"/></td>
                        <td class="span1"><a class="btn btn-success" href="#!/orders/{{cus.$id}}">Xem</a>&nbsp;&nbsp;<hr class="soft"/></td>
                        <td class="span1"><button class="btn btn-danger" ng-click="customerOver.$remove(cus)">Xoá</button><hr class="soft"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>