<ul class="breadcrumb">
    <li><a href="#!/">Trang chủ</a> <span class="divider">/</span></li>
    <li><a href="#!/admin">Quản lý</a> <span class="divider">/</span></li>
    <li class="active">Quản lý đơn đặt hàng của {{customerDet.name}}</li>
</ul>
<h3> Đơn đặt hàng </h3>
<div class="well">
    <form class="form-horizontal" >
        <h4>Thông tin đặt hàng</h4>
        <div class="control-group">
            <label class="control-label">Tên sản phẩm: </label>
            <div class="controls">
                <label class="control-label"><strong>{{customerDet.product}}</strong></label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Hoá đơn: </label>
            <div class="controls">
                <label class="control-label"><strong>{{customerDet.bill}}</strong></label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Tình trạng</label>
            <div class="controls">
                <input type="text" id="customerStatus" ng-model="customerDet.status"/>
            </div>
        </div>
        <hr class="soft" />

        <h4>Thông tin khách hàng</h4>
        <div class="control-group">
            <label class="control-label">Họ và tên: </label>
            <div class="controls">
                <label class="control-label"><strong>{{customerDet.product}}</strong></label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Địa chỉ: </label>
            <div class="controls">
                <label class="control-label">{{customerDet.address}}</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Điện thoại <sup>*</sup></label>
            <div class="controls">
                <label class="control-label">{{customerDet.mobile}}</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Email: </label>
            <div class="controls">
                <label class="control-label">{{customerDet.email}}</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Ngày sinh </label>
            <div class="controls">
                <label class="control-label">{{customerDet.dayBirth}} / {{customerDet.monthBirth}} / {{customerDet.yearBirth}} </label>
            </div>
        </div>

        <h4>Thông tin thêm</h4>
        <div class="control-group">
            <label class="control-label">Giới tính:</label>
            <div class="controls">
                <label class="control-label">{{customerDet.sex}}</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Nghề nghiệp:</label>
            <div class="controls">
                <label class="control-label">{{customerDet.job}}</label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Công ty:</label>
            <div class="controls">
                <label class="control-label">{{customerDet.company}}</label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Sở thích:</label>
            <div class="controls">
                <label class="control-label">{{customerDet.interest}}</label>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input class="btn btn-large btn-success" type="submit" value="Xác nhận" ng-click="saveInfo()" />
            </div>
        </div>
    </form>
</div>