<ul class="breadcrumb" ng-controller="phoneDetailCtrl">
	<li><a href="#!">Trang chủ</a> <span class="divider">/</span></li>
	<li><a href="#!/admin">Quản lý</a> <span class="divider">/</span></li>
	<li class="active">Chỉnh sửa thông tin {{phoneDet.name}}</li>
</ul>
<h1> Thông tin điện thoại</h1>
<hr class="soft"/>
<form>
	<fieldset>
		<div class="accordion-group span6">
			<div class="accordion-heading alert alert-error">
				<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" target="_self">
					Thông tin cơ bản
				</a>
				</h4>
			</div>
			<div id="collapseOne" class="accordion-body collapse"  >
				<div class="accordion-inner span6">
					<table>
						<tr>
							<label for="inputName" class="control-label">Tên điện thoại</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputName" ng-model="phoneDet.name" placeholder="{{phoneDet.name}}">
							</div>
						</tr>
						<tr>
							<label for="inputIntro" class="control-label">Giới thiệu</label>
							<div class="controls">
								<textarea type="text" class="input-xlarge" id="inputIntro" ng-model="phoneDet.intro" placeholder="{{phoneDet.intro}}" rows="3" style="width: 400px"></textarea>
							</div>
						</tr>
						<tr>
							<label for="inputPrice" class="control-label">Giá </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputPrice" ng-model="phoneDet.price" placeholder="{{phoneDet.price}}">
							</div>
						</tr>
						<tr>
							<label for="inputImageURL" class="control-label">URL hình ảnh </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputImageURL" ng-model="phoneDet.imageUrl" placeholder="{{phoneDet.imageUrl}}">
							</div>
						</tr>
						<tr>
							<label for="inputSnipet" class="control-label">Snipet </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputSnipet" ng-model="phoneDet.snipet" placeholder="{{phoneDet.snipet}}">
							</div>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="accordion-group span6">
			<div class="accordion-heading alert alert-info">
				<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" target="_self">
					Thông tin chi tiết
				</a>
				</h4>
			</div>
			<div id="collapseTwo" class="accordion-body collapse"  >
				<div class="accordion-inner span6">
					<table>
						<tr>
							<label for="inputImgLarge" class="control-label">Hình ảnh lớn [800x600] </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputImgLarge" ng-model="phoneDet.imgLarge" placeholder="{{phoneDet.imgLarge}}">
							</div>
						</tr>
						<tr>
							<label for="inputImgDetail1" class="control-label">Hình ảnh chi tiết 1 [400x400] </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputImgDetail1" ng-model="phoneDet.imgDetail1" placeholder="{{phoneDet.imgDetail1}}">
							</div>
						</tr>
						<tr>
							<label for="inputImgDetail2" class="control-label">Hình ảnh chi tiết 2 [400x400] </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputImgDetail2" ng-model="phoneDet.imgDetail2" placeholder="{{phoneDet.imgDetail2}}">
							</div>
						</tr>
						<tr>
							<label for="inputImgDetail3" class="control-label">Hình ảnh chi tiết 3 [400x400] </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputImgDetail3" ng-model="phoneDet.imgDetail3" placeholder="{{phoneDet.imgDetail3}}">
							</div>
							<hr class="soft"/>
						</tr>
						<tr>
							<label for="inputCPU" class="control-label">CPU </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputCPU" ng-model="phoneDet.detail.cpu" placeholder="{{phoneDet.detail.cpu}}">
							</div>
						</tr>
						<tr>
							<label for="inputDisplay" class="control-label">Màn hình </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputDisplay" ng-model="phoneDet.detail.display" placeholder="{{phoneDet.detail.display}}">
							</div>
						</tr>
						<tr>
							<label for="inputOS" class="control-label">Hệ điều hành </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputOS" ng-model="phoneDet.detail.os" placeholder="{{phoneDet.detail.os}}">
							</div>
						</tr>
						<tr>
							<td>
								<label for="inputRAM" class="control-label">RAM </label>
								<div class="controls">
									<input type="text" class="input-small" id="inputRAM" ng-model="phoneDet.detail.ram" placeholder="{{phoneDet.detail.ram}}">
								</div>
							</td>
							<td>
								<label for="inputROM" class="control-label">Bộ nhớ trong </label>
								<div class="controls">
									<input type="text" class="input-small" id="inputROM" ng-model="phoneDet.detail.storage" placeholder="{{phoneDet.detail.storage}}">
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<label for="inputFrontCam" class="control-label">Camera trước </label>
								<div class="controls">
									<input type="text" class="input-small" id="inputFrontCam" ng-model="phoneDet.detail.frontCam" placeholder="{{phoneDet.detail.frontCam}}">
								</div>
							</td>
							<td>
								<label for="inputBehindCam" class="control-label">Camera sau </label>
								<div class="controls">
									<input type="text" class="input-small" id="inputBehindCam" ng-model="phoneDet.detail.behindCam" placeholder="{{phoneDet.detail.behindCam}}">
								</div>
							</td>
						</tr>
						<tr>
							<label for="inputFlash" class="control-label">Hỗ trợ thẻ nhớ </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputFlash" ng-model="phoneDet.detail.flash" placeholder="{{phoneDet.detail.flash}}">
							</div>
						</tr>
						<tr>
							<label for="inputSIM" class="control-label">SIM </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputSIM" ng-model="phoneDet.detail.sim" placeholder="{{phoneDet.detail.sim}}">
							</div>
						</tr>
						<tr>
							<label for="inputConnect" class="control-label">Kết nối </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputConnect" ng-model="phoneDet.detail.connection" placeholder="{{phoneDet.detail.connection}}">
							</div>
						</tr>
						<tr>
							<label for="inputPIN" class="control-label">Dung lượng PIN </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputPIN" ng-model="phoneDet.detail.battery" placeholder="{{phoneDet.detail.battery}}">
							</div>
						</tr>
						<tr>
							<label for="inputDesign" class="control-label">Thiết kế </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputDesign" ng-model="phoneDet.detail.design" placeholder="{{phoneDet.detail.design}}">
							</div>
						</tr>
						<tr>
							<label for="inputSpecial" class="control-label">Chức năng đặc biệt </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputSpecial" ng-model="phoneDet.detail.specialFun" placeholder="{{phoneDet.detail.specialFun}}">
							</div>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="accordion-group span6">
			<div class="accordion-heading alert alert-warning">
				<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" target="_self">
					Đánh giá
				</a>
				</h4>
			</div>
			<div id="collapseThree" class="accordion-body collapse"  >
				<div class="accordion-inner span6">
					<table>
						<tr>
							<label for="inputIntroReview" class="control-label">Tiêu đề đánh giá </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputIntroReview" ng-model="phoneDet.review.intro" placeholder="{{phoneDet.review.intro}}">
							</div>
						</tr>
						<tr>
							<label for="inputURLIntroReview" class="control-label"> URL hình ảnh đánh giá </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputURLIntroReview" ng-model="phoneDet.review.imgIntro" placeholder="{{phoneDet.review.imgIntro}}">
								<hr class="soft"/>
							</div>
						</tr>

						<tr>
							<label for="inputHead1" class="control-label">Tiêu đề đoạn 1 </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputHead1" ng-model="phoneDet.review.head1" placeholder="{{phoneDet.review.head1}}">
							</div>
						</tr>
						<tr>
							<label for="inputHead1Con" class="control-label">Nội dung đoạn 1 </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputHead1Con" ng-model="phoneDet.review.head1con" placeholder="{{phoneDet.review.head1con}}">
							</div>
						</tr>
						<tr>
							<label for="inputHead1Img" class="control-label">Hình ảnh đoạn 1 </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputHead1Img" ng-model="phoneDet.review.head1img" placeholder="{{phoneDet.review.head1img}}">
							</div>
							<hr class="soft"/>
						</tr>

						<tr>
							<label for="inputHead2" class="control-label">Tiêu đề đoạn 2 </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputHead2" ng-model="phoneDet.review.head2" placeholder="{{phoneDet.review.head2}}">
							</div>
						</tr>
						<tr>
							<label for="inputHead2Con" class="control-label">Nội dung đoạn 2 </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputHead2Con" ng-model="phoneDet.review.head2con" placeholder="{{phoneDet.review.head2con}}">
							</div>
						</tr>
						<tr>
							<label for="inputHead2Img" class="control-label">Hình ảnh đoạn 2 </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputHead2Img" ng-model="phoneDet.review.head2img" placeholder="{{phoneDet.review.head2img}}">
							</div>
							<hr class="soft"/>
						</tr>

						<tr>
							<label for="inputHead3" class="control-label">Tiêu đề đoạn 3 </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputHead3" ng-model="phoneDet.review.head3" placeholder="{{phoneDet.review.head3}}">
							</div>
						</tr>
						<tr>
							<label for="inputHead3Con" class="control-label">Nội dung đoạn 3 </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputHead3Con" ng-model="phoneDet.review.head3con" placeholder="{{phoneDet.review.head3con}}">
							</div>
						</tr>
						<tr>
							<label for="inputHead3Img" class="control-label">Hình ảnh đoạn 3 </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputHead3Img" ng-model="phoneDet.review.head3img" placeholder="{{phoneDet.review.head3img}}">
							</div>
							<hr class="soft"/>
						</tr>

						<tr>
							<label for="inputHead4" class="control-label">Tiêu đề đoạn 4 </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputHead4" ng-model="phoneDet.review.head4" placeholder="{{phoneDet.review.head4}}">
							</div>
						</tr>
						<tr>
							<label for="inputHead4Con" class="control-label">Nội dung đoạn 4 </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputHead4Con" ng-model="phoneDet.review.head4con" placeholder="{{phoneDet.review.head4con}}">
							</div>
						</tr>
						<tr>
							<label for="inputHead4Img" class="control-label">Hình ảnh đoạn 4 </label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="inputHead4Img" ng-model="phoneDet.review.head4img" placeholder="{{phoneDet.review.head4img}}">
							</div>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="form-actions span6">
		<button type="submit" class="btn btn-primary" ng-click="saveInfo()">Lưu</button>
		<a class="btn" href="#!/admin">Huỷ</a>
	</div>
</form>